.homeContainer {
  background: url("../assets/background.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 14px;
}

.homeContent {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 750px;
  width: 100%;

  margin: 0 auto;

  .homeContent__header {
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
  }

  .mainContent {
    padding: 15px;

    .addNewAlbumBtn {
      background-color: rgb(59, 167, 255);
      border: none;
      padding: 0.8rem;
      color: #fff;
      border-radius: 10px;

      width: 200px;

      display: block;
      margin: 1rem auto;
    }
  }
}

@media (max-width: 375px) {
  .homeContent__header {
    flex-direction: column;
  }
}
