.searchBar {
  margin-top: 5px;

  display: flex;
  justify-content: space-between;

  input {
    width: 75%;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: rgb(155, 155, 155);
  }

  button {
    border: none;
    border-radius: 50px;
    width: 22%;
    background-color: rgb(59, 167, 255);
    color: #fff;
    padding: 0.9rem;
  }
}

@media (max-width: 375px) {
  .searchBar {
    input {
      padding: 10px 13px;
      width: 65%;
    }
    button {
      width: 30%;
    }
  }
}
