.albumTitle {
  margin-top: 20px;
}

.albumInfoContent__header,
.albumInfoContent {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;

  .trackDescription__header,
  .trackDescription {
    display: flex;

    p {
      padding: 0 10px;
    }
  }
}
