.albumInfoContent__header {
  margin-top: 20px;
}

.albumInfoContent__main {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;

  .trackMainInfo {
    display: flex;

    p {
      padding: 0 10px;
    }
  }

  .trackMainInfo,
  .trackTime {
    p {
      margin-top: 9px;
    }
  }
}
